#PcFooter {
  @include FlexBox(row, center, center);
  @include Size(100%, 7.75rem);
  color: $G30;
  background: $G80;
  .footer-container {
    @include FlexBox(row, center, space-between);
    @include Size(100%, 5rem);
    max-width: var(--desktop-max-width);
    margin: 0 auto;
    @include Media("laptop") {
      width: 768px;
    }
    @include Media("desktop-sm") {
      width: 75rem;
    }
  }
  .raon-logo {
    @include Size(5.5rem, auto);
    @include PaddingY(0.25rem);
    @include PaddingX(0.25rem);
  }
  .left {
    @include FlexBox(row, flex-end, unset);
    gap: 2rem;
    .group {
      @include FlexBox;
      gap: 1rem;
    }
  }
  .right {
    @include FlexBox;
    gap: 1.5rem;
    .sns-group {
      @include FlexBox;
      gap: 0.75rem;
    }
    .sns-circle {
      cursor: pointer;
      @include Size(2.5rem, 2.5rem);
    }
  }

  #Dropdown {
    @include Size(13.75rem, 3rem);
    .dropdown-selected {
      p {
        color: $G30;
      }
      svg {
        color: $G00;
      }
    }
    .dropdown-list {
      p {
        color: $G80;
      }
    }
  }
}
