#PcPageHeader {
  @include FlexBox(row, center, center);
  @include Size(100%, calc(13.75rem + var(--desktop-header-height)));
  @include PaddingY(2rem);
  background: $primary-bg;
  position: relative;
  &::before {
    content: "";
    @include FlexBox;
    @include Size(100%, 100%);
    position: absolute;
    background: url("../../../assets/images/home/bg_line.svg");
    background-size: 56%;
    background-repeat: no-repeat;
    background-position: bottom 40% right -5%;
  }
  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: var(--desktop-header-height);
    color: $G00;
    p {
      font-size: 3rem;
      font-weight: bold;
    }
  }
}
