#Table {
  width: 100%;
  .thead {
    @include FlexBox;
    @include BorderTop(2px, solid, $G80);
    background: $G10;
    font-weight: 700;
  }
  .tbody {
    background: $G00;
    .tr {
      @include FlexBox;
      &:hover {
        background: rgba($color: $G10, $alpha: 0.5);
      }
    }
  }

  .th,
  .td {
    @include FlexBox(row, center, center);
    @include Size(100%, 4.5rem);
    @include BorderBottom(1px, solid, $lineG40);
    gap: 0.25rem;
    vertical-align: middle;
    flex: 1;
    p {
      text-align: center;
    }
    &.empty {
      width: 100% !important;
      max-width: unset !important;
      p {
        font-weight: bold;
      }
    }
  }

  &.default {
    .th,
    .td {
      @include Size(14rem, 4.5rem);
      @include PaddingX(12px);
      @include Ellipsis1;
      &:nth-child(1) {
        max-width: 6rem;
      }
      &:nth-child(2) {
        max-width: 8rem;
      }
      &:nth-child(4) {
        max-width: 15rem;
      }
      &:nth-child(5) {
        max-width: 11.25rem;
      }
    }
    .td {
      p {
        @include Ellipsis1;
        font-size: 0.875rem;
      }
    }
  }

  &.track {
    @include FlexBox(column, unset, unset);
    gap: 0.125rem;
    display: none;
    &.active {
      display: flex;
    }
    .thead {
      border: none;
      gap: 0.125rem;
      .th {
        @include Rounded(0.25rem);
        font-size: 1.5rem;
        font-weight: bold;
        color: $G00;
        background: $thead-bg;
        &:nth-child(2) {
          background: $thead-bg-gradient;
        }
      }
    }
    .tbody {
      @include FlexBox;
      gap: 0.125rem;
      background: unset;
      align-items: unset;
      .td {
        // cursor: pointer;
        @include FlexBox(row, unset, unset);
        gap: 0.5rem;
        flex: 1;
        border: none;
        background: rgba($color: $tbody-bg, $alpha: 0.2);
        font-size: 1.25rem;
        font-weight: bold;
        height: unset;
        &:first-child {
          align-items: center;
          justify-content: center;
          color: $thead-bg;
        }
        &:nth-child(2) {
          justify-content: flex-start;
        }
        &.break {
          color: $secondary;
          background: rgba($color: $secondary, $alpha: 0.1);
          p {
            color: $secondary;
          }
        }
        p {
          color: $G100;
          font-size: 1.25rem;
          font-weight: bold;
        }
        .type {
          @include FlexBox(row, flex-end, unset);
          @include Size(8.75rem, auto);
          font-size: 1.25rem;
          font-weight: bold;
        }
        .speaker-item {
          @include FlexBox;
          gap: 0.25rem;
          * {
            font-size: 1.25rem;
          }
          p {
            color: $thead-bg;
            &.speaker {
              font-weight: bold;
            }
            &.from {
              font-weight: 400;
            }
          }
          span {
            @include FlexBox(row, center, center);
          }
        }
      }
      &.hackathon {
        .group {
          @include Size(100%, auto);
        }
        .speaker {
          min-width: 15rem;
          justify-content: center;
          .td {
            height: 100%;
          }
        }
      }
      .group {
        gap: 0.125rem;
      }
    }
    .th,
    .td {
      @include Size(100%, 3.75rem);
      @include PaddingY(1rem);
      @include PaddingX(1.5rem);
      &:first-child {
        max-width: 15rem;
      }
      &:nth-child(3) {
        max-width: 15rem;
        justify-content: center;
      }
    }
  }

  // .th {
  //   @include FlexBox(row, center, center);
  //   @include Size(100%, 4.5rem);
  //   vertical-align: middle;
  // }
  // .td {
  //   @include FlexBox(row, center, flex-start);
  //   @include Size(100%, 4.5rem);
  //   vertical-align: middle;
  // }
}
