#Events,
#Exhibitions {
  @include FlexBox(column, unset, unset);
  @include PaddingY(2rem);
  @include PaddingX(1.25rem);
  gap: 2rem;
  .grid {
    gap: 2rem;
  }
}

.sample-box {
  @include FlexBox;
  @include Size(100%, 17.5rem);
  @include PaddingY(1.5rem);
  @include PaddingX(1.5rem);
  @include Rounded(0.5rem);
  background: $G40;
  .group {
    gap: 0;
    p {
      font-size: 0.875rem;
    }
    h6 {
      font-size: 1.25rem;
    }
  }
}
