#Intro {
  @include PaddingY(0);
  @include PaddingX(0);
  display: unset;
  position: relative;
  max-width: 100vw;
  max-height: calc(100vh - var(--mobile-header-height));
  overflow: hidden;
  .group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
  }
  video {
    object-fit: cover;
    object-position: 20% 20%;
  }
}

.tracks-swiper,
.location-swiper,
.event-swiper,
.exhibition-swiper {
  @include Size(100%, 100%);
  overflow: visible;
  .swiper-slide {
    @include Size(20rem, auto);
    @include Rounded(0.5rem);
    overflow: hidden;
  }
  .swiper-pagination {
    position: static;
    bottom: var(--swiper-pagination-bottom, -2rem) !important;
  }
  // .swiper-pagination-bullet {
  //   @include Size(1rem, 1rem);
  //   background: $G30;
  //   opacity: 1;
  //   &.swiper-pagination-bullet-active {
  //     @include Size(2.5rem, 1rem);
  //     @include Rounded(6.25rem);
  //     background: $G40;
  //   }
  // }
}

.location-img {
  @include Size(100%, 25rem);
  background: $G40;
  object-fit: cover;
}

#Overview {
  @include FlexBox(column, center, center);
  min-height: calc(100vh - var(--mobile-header-height));
  .group {
    p {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}
