#PcReservationListPage {
  background: $G00;

  .page-container {
    @include FlexBox(column, unset, unset);
    gap: 2.5rem;
  }
  .table-wrapper {
    @include FlexBox(column, unset, unset);
    gap: 2.5rem;
    .filter-group {
      #Dropdown,
      #LineButton {
        max-width: 10rem;
        min-width: 10rem;
      }
    }
  }
  .filter-group {
    #Dropdown {
      min-width: 10rem;
    }
    .react-datepicker__input-container {
      min-width: 10rem;
    }
  }
}
