#Toast {
  @include FlexBox;
  @include Size(fit-content, auto);
  position: fixed;
  // top: calc(var(--header-height) + 3.75rem);
  // left: 50%;
  // transform: translateX(-50%);
  // animation: OpenToastAni 2s ease-in-out forwards;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 9999;

  .toast-item {
    @include FlexBox;
    @include PaddingY(0.5rem);
    @include PaddingX(1.25rem);
    @include Rounded(6.25rem);
    gap: 0.5rem;
    color: $G00;
    p {
      white-space: nowrap;
    }
    &.primary {
      background: $O100;
    }
    &.warn {
      background: $R70;
    }
  }
}
