#ModalEventDetail {
  .modal-dialog {
    @include Size(40rem, auto);
  }
  .modal-header {
    @include Size(100%, auto);
  }
  .modal-img {
    @include Size(100%, 21.25rem);
    @include Rounded(0.75rem);
    overflow: hidden;
  }
  .modal-body {
    @include FlexBox(column, unset, unset);
    gap: 1rem;
    .title {
      @include FlexBox(column, unset, unset);
      p {
        font-size: 1rem;
        color: $secondary;
      }
    }
    .content {
      @include FlexBox(column, unset, unset);
      gap: 0.75rem;
      max-height: 15rem;
      overflow-y: auto;
      * {
        font-size: 0.875rem;
      }
      ul {
        @include FlexBox(column, unset, unset);
        gap: 0.25rem;
        > p {
          font-size: 1rem;
          font-weight: bold;
          margin-bottom: 0.25rem;
          color: $G100;
        }
        li {
          font-size: 1rem;
          p {
            font-size: 1rem;
            color: $G100;
            span {
              font-size: inherit;
            }
          }
        }
      }
    }
  }

  @include CustomScrollBar;
}
