#ModalFinishRegist {
  .logo {
    @include Size(8.5625rem, 4.125rem);
  }
  .modal-dialog {
    gap: 1.25rem;
  }
  .modal-header {
    @include FlexBox(row, center, center);
    padding: unset;
  }
  .modal-body {
    align-items: center;
    gap: 0.75rem;
    text-align: center;
    color: $primary;
    p {
      font-size: 1.25rem;
      word-break: keep-all;
    }
    span.line {
      @include Size(1.5rem, 1px);
      background: $primary;
    }
  }
  .modal-footer {
    @include FlexBox(row, center, center);
    #Button {
      @include Size(auto, 3rem);
      max-width: 5rem;
      p {
        font-size: 1rem;
      }
    }
  }
  .modal-header,
  .modal-footer {
    border: none;
  }
}
