#ModalExhibitionDetail {
  .modal-body {
    @include PaddingY(1rem);
    @include PaddingX(1rem);
    flex: 1;
    .title {
      @include FlexBox(column, unset, unset);
      p {
        font-size: 0.75rem;
        color: $secondary;
      }
      h5 {
        font-size: 1rem;
      }
    }
    .content {
      @include FlexBox(column, unset, unset);
      gap: 0.75rem;
      max-height: calc(90vh - (5rem + 13.125rem + 5.625rem));
      overflow-y: auto;
      &.grid {
        display: flex !important;
        @include FlexBox(column, unset, unset);
        row-gap: 1rem;
      }
    }

    .list-group {
      @include FlexBox(column, unset, unset);
      @include Size(100%, auto);
      gap: 0.5rem;
      .list-title {
        @include FlexBox;
        @include Size(100%, 1.875rem);
        @include PaddingX(1rem);
        @include Rounded(0.25rem);
        font-size: 0.875rem;
        font-weight: bold;
        color: $G00;
        background: $primary;
      }
      ul {
        @include FlexBox(column, unset, unset);
        gap: 0.5rem;
        h6 {
          font-size: 0.875rem;
          color: $G100;
        }
        li {
          color: $G100;
          p {
            align-items: flex-start;
            font-size: 0.875rem;
            text-align: left;
            word-break: keep-all;
          }
        }
        a.link-page {
          @include FlexBox(row, center, center);
          @include Size(fit-content, 2rem);
          @include PaddingY(0.25rem);
          @include PaddingX(0.75rem);
          @include BorderAll(1px, solid, $lineG20);
          @include Rounded(0.5rem);
          color: $G100;
          p {
            font-size: 0.75rem;
          }
          svg {
            color: $secondary;
          }
        }
      }
    }
  }
  .modal-footer {
    @include PaddingY(1rem);
    @include PaddingX(1rem);
    .button-group {
      @include Size(100%, auto);
    }
  }
  @include CustomScrollBar;
}

@media (min-width: 600px) and (max-width: 768px) {
  #ModalExhibitionDetail {
    .modal-dialog {
      @include Size(20rem, 33.75rem);
      @include Rounded(0.75rem);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: Opacity 0.3s;
    }
    .modal-body {
      .content {
        @include FlexBox(column, unset, unset);
        gap: 0.75rem;
        max-height: 12rem;
      }
    }
  }
}
