#ModalPrivacy {
  .modal-header {
    h5 {
      font-size: 1.25rem;
      flex: 1;
    }
  }
  .modal-dialog {
    @include Size(100%, 100%);
    @include Rounded(0);
    .context {
      p {
        font-size: 0.875rem;
      }
    }
  }
  .modal-body {
    @include PaddingY(1.5rem);
    @include PaddingX(1.5rem);
    @include BorderAll(1px, solid, $lineG30);
    @include Rounded(0.75rem);
    // height: 100%;
    .context {
      @include FlexBox(column, unset, unset);
      gap: 1.5rem;
      font-weight: bold;
      max-height: calc(
        100vh - (1.875rem + 1.5rem + 1.5rem + 3rem + 3rem + 2rem)
      );
      overflow-y: auto;
      ul {
        @include FlexBox(column, unset, unset);
        gap: 0.5rem;
        li {
          @include FlexBox(column, unset, unset);
          gap: 0.5rem;
          > p {
            &::before {
              color: $G100;
            }
          }
        }
      }
    }
  }
  .modal-footer {
    .button-group {
      @include Size(100%, auto);
    }
  }
  // @include CustomScrollBar;
}
