#ModalTerms {
  .modal-header {
    h5 {
      font-size: 1.25rem;
      flex: 1;
    }
  }
  .modal-dialog {
    @include Size(100%, 100%);
    @include Rounded(0);
    .context {
      p {
        font-size: 0.875rem;
      }
    }
  }
  .modal-body {
    .context {
      @include PaddingY(1.5rem);
      @include PaddingX(1.5rem);
      @include BorderAll(1px, solid, $lineG30);
      @include Rounded(0.75rem);
      font-weight: bold;
      ul.dot-style {
        li {
          > p {
            &::before {
              color: $G100;
            }
          }
        }
      }
    }
  }
  .modal-footer {
    .button-group {
      @include Size(100%, auto);
    }
  }
}
