#ModalAlert {
  .modal-dialog {
    @include Size(90vw, auto);
  }
  .modal-body {
    > p {
      @include FlexBox(column, center, center);
      gap: 0.25rem;
      color: $G60;
      font-size: 0.875rem;
      text-align: center;
      word-break: keep-all;
    }
  }
}
