body[type="desktop"] {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($G100, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 9999;
    animation: Opacity 0.3s;
    display: block;

    .modal-dialog {
      @include FlexBox(column, unset, unset);
      @include Size(28.75rem, auto);
      @include PaddingY(1.25rem);
      @include PaddingX(1.25rem);
      @include Rounded(0.75rem);
      gap: 1.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $G00;
    }
    .modal-gnb {
      @include FlexBox(row, center, flex-end);
    }
    .modal-header {
      @include FlexBox;
      @include BorderBottom(1px, solid, $lineG40);
      padding-bottom: 1.25rem;
      h6 {
        flex: 1;
      }
      svg {
        margin-left: auto;
      }
    }

    .modal-body {
      flex: 1;
      @include FlexBox(column, unset, unset);
    }

    .modal-footer {
      @include FlexBox(row, center, flex-end);
      @include BorderTop(1px, solid, $lineG40);
      gap: 0.75rem;
      width: 100%;
      padding-top: 1.25rem;
      #Button,
      #LineButton {
        flex: 1;
      }
    }
  }

  @import "components/modal/desktop/ModalAlert.scss";
  @import "components/modal/desktop/ModalEventDetail.scss";
  @import "components/modal/desktop/ModalExhibitionDetail.scss";
  @import "components/modal/desktop/ModalProgramDetail.scss";
  @import "components/modal/desktop/ModalSessionDetail.scss";
  @import "components/modal/desktop/ModalTerms.scss";
  @import "components/modal/desktop/ModalPrivacy.scss";
  @import "components/modal/desktop/ModalFinishRegist.scss";
  @import "components/modal/desktop/ModalReplayAlert.scss";
}

body[type="mobile"] {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($G100, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 9999;
    animation: Opacity 0.3s;
    display: block;

    .modal-dialog {
      @include FlexBox(column, unset, unset);
      @include Size(100%, auto);
      @include PaddingY(1rem);
      @include PaddingX(1rem);
      @include Rounded(0.75rem);
      gap: 1.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $G00;
    }
    .modal-gnb {
      @include FlexBox(row, center, flex-end);
    }
    .modal-header {
      @include FlexBox;
      h6 {
        flex: 1;
      }
    }
    .modal-body {
      flex: 1;
      @include FlexBox(column, unset, unset);
    }
    .modal-footer {
      @include FlexBox;
      gap: 0.75rem;
      width: 100%;
      #Button,
      #LineButton {
        flex: 1;
      }
    }
  }

  .bottom-sheet {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($G100, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 9999;
    display: block;
    animation: Opacity 0.3s;

    .modal-dialog {
      @include FlexBox(column, unset, unset);
      @include Size(100%, auto);
      @include Rounded(0.75rem);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      overflow: hidden;
      background: $G00;
      position: absolute;
      bottom: 0;
      max-height: calc(var(--vh, 1vh) * 100);
      animation: SlideUp 0.3s;
    }
    .modal-body {
      @include FlexBox(column, unset, unset);
      gap: 0.75rem;
      flex: 1;
    }
    .modal-footer {
      @include FlexBox;
      @include Size(100%, auto);
      gap: 0.75rem;
      #Button,
      #LineButton {
        flex: 1;
      }
    }
  }

  @import "components/modal/mobile/ModalAlert.scss";
  @import "components/modal/mobile/ModalEventDetail.scss";
  @import "components/modal/mobile/ModalExhibitionDetail.scss";
  @import "components/modal/mobile/ModalProgramDetail.scss";
  @import "components/modal/mobile/ModalReseveListDetail.scss";
  @import "components/modal/mobile/ModalSessionDetail.scss";
  @import "components/modal/mobile/ModalResevationDetail.scss";
  @import "components/modal/mobile/ModalTerms.scss";
  @import "components/modal/mobile/ModalPrivacy.scss";
  @import "components/modal/mobile/ModalFinishRegist.scss";
  @import "components/modal/mobile/ModalReplayAlert.scss";
}
