@keyframes NoneAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeCenterUp {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes FadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes FadeDown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}

@keyframes FadeLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes FadeRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes FadeHighlight {
  0% {
    transform: scale(1.02);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes Progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes FoldBanner {
  0% {
    height: 5rem;
  }
  100% {
    height: 0;
  }
}

@keyframes GnbDropdown {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes OpenToastAni {
  0% {
    opacity: 0;
    transform: translate3d(-50%, -100%, 0);
  }
  10% {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
  70% {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(-50%, -100%, 0);
  }
}

@keyframes ArrowInfiniteX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes ArrowInfiniteY {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  50% {
    transform: translate3d(-50%, 20%, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes DropdownUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes DropdownDown {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
