:root {
  --desktop-min-width-container: 940px;
  --desktop-min-width: 1024px;
  --desktop-max-width: 1200px;
  --desktop-header-height: 5rem;
  --desktop-footer-height: 8.75rem;
  --mobile-header-height: 3.75rem;
  --mobile-footer-height: 10.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-filter: none !important;
  filter: none !important;
  background-blend-mode: normal !important;
  mix-blend-mode: normal !important;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "SUIT", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $G80;
  background: transparent;

  color-scheme: light;
  background-color: #fff; /* 기본 배경색도 지정 */

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.fixed {
    height: 100vh;
    overflow: hidden;
  }
  &[type="mobile"] {
    @media (max-width: 1023px) {
      font-size: 16px;
    }
    @include Media("laptop") {
      font-size: 16px;
    }
    @include Media("desktop-sm") {
      font-size: 16px;
    }
    @include Media("desktop-md") {
      font-size: 16px;
    }
    @include Media("desktop-lg") {
      font-size: 16px;
    }
  }
}

body {
  &.hold {
    height: 100vh;
    overflow: hidden;
  }
}

$h1: 3.75rem;
$h2: 3.375rem;
$h3: 3rem;
$h4: 2rem;
$h5: 1.5rem;
$h6: 1.125rem;

h1,
h2,
h3,
h4,
h5,
h6 {
  @include FlexBox(column, unset, unset);
  font-weight: 800;
  word-break: keep-all;
}
h1 {
  @include FontSize($h1);
}
h2 {
  @include FontSize($h2);
}
h3 {
  @include FontSize($h3);
}
h4 {
  @include FontSize($h4);
}
h5 {
  @include FontSize($h5);
}
h6 {
  @include FontSize($h6);
}

main {
  @include FlexBox(column, unset, unset);
  @include Size(auto, auto);
  flex: 1;
  position: relative;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  word-break: keep-all;
  &.h7 {
    @include FlexBox;
    font-size: 1rem;
    font-weight: 700;
  }
}

a {
  font-size: 1rem;
  color: unset;
  text-decoration: unset;
}

span {
  font-size: 1rem;
  font-size: inherit;
}

b {
  font-weight: 700;
}

table {
  font-size: 1rem;
}

ul {
  &.dot-style {
    list-style: none;
    gap: 0.25rem;
    li {
      > p {
        @include FlexBox(row, flex-start, unset);
        gap: 0.5rem;
        &::before {
          content: "•";
          @include Rounded(50%);
          font-size: 1rem;
          font-weight: bold;
          color: $secondary;
        }
        @include Media("mobile") {
          gap: 0.25rem;
          &::before {
            font-size: 0.75rem;
            margin-top: 0.125rem;
          }
        }
      }
    }
  }
  &.num-style {
    list-style: none;
    li {
      @include FlexBox(column, unset, unset);
      counter-increment: number;
      gap: 0.25rem;
      > p {
        @include FlexBox(row, flex-start, unset);
        gap: 0.5rem;
        &::before {
          content: counter(number);
          @include FlexBox(row, center, center);
          @include Size(1.5rem, 1.5rem);
          @include Rounded(50%);
          font-size: 1rem;
          font-weight: bold;
          color: $G00;
          background: $secondary;
        }
        @include Media("mobile") {
          gap: 0.25rem;
          &::before {
            @include Size(1rem, 1rem);
            min-width: 1rem;
            font-size: 0.75rem;
            margin-top: 0.125rem;
          }
        }
        span {
          flex: 1;
        }
      }
      .description {
        padding-left: 2.5rem;
        p {
          text-indent: -0.5rem;
          &::before {
            visibility: hidden !important;
          }
        }
      }
    }
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

img,
video,
picture,
canvas {
  filter: none !important;
  mix-blend-mode: normal !important;
}

.img {
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
  }
}

button {
  cursor: pointer;
  @include FlexBox(row, center, center);
  width: fit-content;
  line-height: 1.5;
  background: $G00;
}

input,
select,
textarea {
  font-family: "SUIT";
  flex: 1;
  font-size: 1rem;
  border: none;
  outline: none;
  line-height: 1.5;
  &::placeholder {
    color: $G40;
  }
}

svg {
  display: flex !important;
}

i.required {
  @include FlexBox;
  font-size: 0.875rem;
  color: $R100;
}

span.info-text {
  font-size: 0.875rem;
  color: $G60;
}

span.line {
  display: block;
  width: 100%;
  height: 1px;
  background: $lineG40;
}

.color-O100 {
  color: $O100;
}

.color-R100 {
  color: $R100;
}

.ellipsis-1 {
  @include Ellipsis1;
}

.ellipsis-2 {
  @include Ellipsis(2);
}

.border-all {
  @include BorderAll(1px, solid, $lineG40);
}

.link {
  cursor: pointer;
  @include FlexBox;
  @include Size(fit-content, 1.375rem);
  gap: 0.25rem;
  position: relative;
  font-size: 0.75rem;
  font-weight: 700 !important;
  color: $O100;
  &::after {
    content: "";
    @include Size(100%, 1px);
    position: absolute;
    left: 0;
    bottom: 0;
    background: $O100;
  }
  svg {
    transition: all 0.3s;
  }
  &.show {
    svg {
      transform: rotate(180deg);
    }
  }

  &.disabled {
    color: $G40 !important;
    &::after {
      content: "";
      @include Size(100%, 1px);
      position: absolute;
      left: 0;
      bottom: 0;
      background: $G40;
    }
  }
}

.footer-link {
  cursor: pointer;
  @include FlexBox;
  @include Size(fit-content, 1.375rem);
  position: relative;
  color: $G30;
  text-decoration: underline;
}

.chip-label {
  @include Size(fit-content, auto);
  @include PaddingY(0.5rem);
  @include PaddingX(1rem);
  @include Rounded(6.25rem);
  @include BorderAll(1px, solid, $O100);
  color: $O100;
}

.box-label {
  @include FlexBox;
  @include Size(8.75rem, 3.25rem);
  @include Rounded(0.5rem);
  font-weight: bold;
  color: $G00;
  background: $primary;
}

.button-group,
.item-group {
  @include FlexBox;
  gap: 0.75rem;
}
.tabs-group {
  @include FlexBox;
}
.filter-group {
  @include FlexBox;
  gap: 0.75rem;
}

.group {
  @include FlexBox;
  gap: 0.75rem;
}

.test-box {
  @include PaddingY(2rem);
  @include PaddingX(2rem);
  @include Rounded(0.5rem);
  background: $G10;
}

.privacyPage {
  background: $G00 !important;
}

@include Media("laptop") {
  html,
  body[type="desktop"] {
    font-size: clamp(8px, 0.85vw, 10px);
    // min-width: var(--desktop-min-width);
    // max-width: var(--desktop-min-width);
  }
}
@include Media("desktop-sm") {
  html,
  body[type="desktop"] {
    font-size: 12px;
  }
}
@include Media("desktop-md") {
  html,
  body[type="desktop"] {
    font-size: 14px;
  }
}
@include Media("desktop-lg") {
  html,
  body[type="desktop"] {
    font-size: 16px;
  }
}
@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #fff !important;
    color: #000 !important;
  }

  img {
    filter: none !important;
  }
}
