#PcTracksPage {
  .page-container {
    @include FlexBox(column, unset, unset);
    gap: 2.5rem;
  }
  #Tabs {
    li {
      @include Size(100%, 5.5rem);
      p {
        text-align: center;
      }
    }
  }
  .tab-container {
    @include FlexBox(column, unset, unset);
    gap: 2.5rem;
    display: none;
    &.active {
      display: flex;
    }
    .track-info {
      @include FlexBox(column, unset, unset);
      gap: 2.5rem;
      > p {
        @include FlexBox(column, center, center);
        font-size: 2rem;
        color: $G100;
      }
    }
    .box {
      @include FlexBox(row, center, flex-start);
      @include Size(100%, auto);
      @include PaddingY(0.5rem);
      @include PaddingX(0.5rem);
      @include BorderAll(1px, solid, $G40);
      @include Rounded(0.5rem);
      gap: 1.5rem;
      color: $G100;
      flex: 1;
      .info-item {
        @include FlexBox;
        gap: 1rem;
        .box-label {
          @include FlexBox(row, center, center);
          font-size: 1.5rem;
        }
        p {
          font-size: 1.5rem;
          font-weight: bold;
          padding-right: 1rem;
          white-space: nowrap;
        }
      }
    }
  }
  .awards {
    @include FlexBox(column, center, center);
    gap: 2.5rem;
    .awards-title {
      @include FlexBox(row, center, center);
      @include Size(100%, 3.75rem);
      @include Rounded(0.5rem);
      font-size: 1.75rem;
      font-weight: 800;
      color: $G00;
      background: $primary;
    }
    .awards-wrapper {
      @include FlexBox;
      @include Size(100%, auto);
      gap: 1.5rem;
    }
    .left {
      @include FlexBox(column, center, center);
      gap: 1.5rem;
      flex: 1;
      .group {
        @include FlexBox(column, center, center);
        gap: 1rem;
        h6 {
          @include FlexBox(row, center, center);
          @include Size(11.25rem, 2.5rem);
          @include Rounded(6.25rem);
          font-size: 1.5rem;
          font-weight: 400;
          color: $G00;
          background: $G80;
        }
        .text-group {
          @include FlexBox(row, flex-start, stretch);
          gap: 1rem;
          font-size: 1.5rem;
          font-weight: bold;
          > span {
            color: $secondary;
          }
          .item-right {
            @include FlexBox(column, unset, unset);
            > span {
              color: $G80;
            }
          }
        }
      }
    }
    .right {
      @include FlexBox(column, center, center);
      gap: 2rem;
      flex: 1;
      h5 {
        text-align: center;
      }
      .info-box {
        @include FlexBox(column, center, center);
        @include Size(100%, 17.5rem);
        @include Rounded(0.5rem);
        font-size: 1.5rem;
        font-weight: bold;
        background: rgba($color: $tbody-bg, $alpha: 0.2);
        ul {
          @include FlexBox(column, unset, unset);
          @include Size(22.5rem, auto);
          gap: 1.5rem;
          li {
            &::before {
              color: $secondary;
            }
            p {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  .button-group {
    @include FlexBox(row, center, center);
    #LineButton {
      @include Size(15rem, 3.75rem);
      @include PaddingX(0);
      font-weight: 400;
    }
  }
}
