#PcPreviousPage {
  .grid {
    gap: 2rem;
  }
  .group {
    p {
      font-size: 1.125rem;
      color: $G60;
    }
  }
}

#PcPreviousDetailPage {
  .page-container {
    @include FlexBox(column, unset, unset);
    gap: 2rem;
  }

  .top {
    @include FlexBox(column, unset, unset);
    gap: 1.5rem;
    .title {
      position: relative;
      h3 {
        font-size: 2.5rem;
      }
      h4 {
        color: $secondary;
      }
    }
    > #LineButton {
      @include Size(fit-content, 4rem);
      gap: 1rem;
      p {
        font-size: 1.5rem;
      }
      svg {
        @include FlexBox(row, center, center);
        @include PaddingY(0.5rem);
        @include PaddingX(0.5rem);
        @include Rounded(50%);
        color: $G00;
        background: $secondary;
      }
    }
  }

  .video {
    @include Size(100%, auto);
    @include Rounded(0.5rem);
    aspect-ratio: 16 / 9;
    background: $G40;
    overflow: hidden;
  }
  .previous-img {
    @include Rounded(0.5rem);
    overflow: hidden;
  }
}

.back-button {
  cursor: pointer;
  @include FlexBox(row, center, center);
  gap: 0.25rem;
  > #LineButton {
    @include Size(fit-content, 4rem);
  }
}
.button-group {
  @include FlexBox(row, center, center);
  gap: 0.75rem;
  #LineButton {
    @include Size(fit-content, 4rem);
  }
}
