#MobileFooter {
  @include FlexBox(column, unset, unset);
  @include PaddingY(1rem);
  @include PaddingX(1rem);
  gap: 1.25rem;
  background: $G80;

  .top {
    @include FlexBox(column, unset, unset);
    gap: 1.25rem;
    #Dropdown {
      .dropdown-selected {
        > * {
          color: $G10;
        }
      }
    }
    .group {
      // @include FlexBox(column, flex-start, space-between);
      @include FlexBox(row, center, space-between);
      > p {
        font-size: 0.875rem;
      }
      .sns-group {
        @include FlexBox;
        gap: 0.5rem;
        .sns-circle {
          cursor: pointer;
          @include Size(2rem, 2rem);
        }
      }
    }
  }
  .bottom {
    @include FlexBox(row, flex-end, unset);
    gap: 0.5rem;
    .raon-logo {
      @include Size(3.375rem, auto);
    }
    p {
      font-size: 0.75rem;
      color: $G10;
    }
  }
}
