#Table {
  width: 100%;
  .thead {
    @include FlexBox;
    @include BorderTop(2px, solid, $G80);
    background: $G10;
    font-weight: 700;
  }
  .tbody {
    background: $G00;
    .tr {
      @include FlexBox;
      &:hover {
        background: rgba($color: $G10, $alpha: 0.5);
      }
    }
  }

  .th,
  .td {
    @include FlexBox(row, center, center);
    @include Size(100%, 4.5rem);
    @include BorderBottom(1px, solid, $lineG40);
    gap: 0.25rem;
    vertical-align: middle;
    flex: 1;
    p {
      text-align: center;
    }
  }

  &.default {
    @include FlexBox(column, unset, unset);
    @include Size(100%, auto);
    .thead,
    .tbody {
      gap: unset;
      border: none;
      * {
        font-size: 0.875rem;
      }
      .th,
      .td {
        @include Size(auto, 3rem);
        @include PaddingX(0.75rem);
        @include Ellipsis1;
        border: none;
        &:nth-child(1) {
          max-width: 5rem;
          min-width: 5rem;
        }
        &:nth-child(2) {
          max-width: unset;
          min-width: unset;
        }
        &:nth-child(3) {
          max-width: unset;
          min-width: unset;
        }
      }
      .td {
        justify-content: flex-start;
      }
    }

    .thead {
      @include BorderTop(2px, solid, $G100);
      background: unset;
    }
    .tbody {
      @include FlexBox(column, unset, unset);
      .tr {
        gap: 0.25rem;
      }
    }
  }

  &.track {
    @include FlexBox(column, unset, unset);
    gap: 0.125rem;
    display: none;
    &.active {
      display: flex;
    }
    .thead {
      border: none;
      gap: 0.125rem;
      .th {
        @include Rounded(0.25rem);
        font-weight: bold;
        color: $G00;
        background: $thead-bg;
        &:nth-child(2) {
          background: $thead-bg-gradient;
        }
      }
    }
    .tbody {
      @include FlexBox(row, unset, unset);
      gap: 0.125rem;
      background: unset;
      align-items: unset;
      .td {
        @include FlexBox(column, flex-start, flex-start);
        gap: 0.5rem;
        flex: 1;
        background: rgba($color: $tbody-bg, $alpha: 0.2);
        &:last-child {
          justify-content: center;
        }
        &.break {
          justify-content: center;
          color: $secondary;
          background: rgba($color: $secondary, $alpha: 0.1);
          p {
            color: $secondary;
          }
        }
        p {
          color: $G100;
          font-size: 0.875rem;
          font-weight: bold;
        }
        .speaker-item {
          @include FlexBox;
          gap: 0.25rem;
          * {
            font-size: 0.75rem;
          }
          p {
            color: $thead-bg;
            &.speaker {
              font-weight: bold;
            }
            &.from {
              font-weight: 400;
            }
          }
          span {
            @include FlexBox(row, center, center);
          }
        }
      }
    }
    .th,
    .td {
      @include PaddingY(0.75rem);
      @include PaddingX(0.75rem);
      @include Rounded(0.25rem);
      height: unset;
      font-size: 0.875rem;
      color: $G100;
      flex: 1;
      &:first-child {
        max-width: 4.875rem;
      }
      * {
        font-size: 0.875rem;
        text-align: unset;
      }
    }
    // .th {
    //   @include Size(100%, 3rem);
    // }
    // .td {
    //   @include FlexBox(column, unset, unset);
    //   gap: 0.5rem;
    //   flex: 1;
    //   &:first-child {
    //     font-weight: bold;
    //   }
    //   .type {
    //     font-size: 0.75rem;
    //     font-weight: bold;
    //   }
    //   .description {
    //     font-size: 0.75rem;
    //   }
    //   .speaker {
    //     @include FlexBox;
    //     gap: 0.25rem;
    //     * {
    //       font-size: 0.75rem;
    //     }
    //     p {
    //       &:first-child {
    //         font-weight: bold;
    //       }
    //     }
    //     span {
    //       @include FlexBox(row, center, center);
    //     }
    //   }
    // }
  }
  &.row-type {
    @include FlexBox(column, unset, unset);
    gap: 0.5rem;
    .tr {
      @include FlexBox;
      gap: 0.5rem;
    }
    .th,
    .td {
      @include FlexBox(row, center, flex-start);
      @include Size(100%, 3rem);
      @include PaddingX(0.75rem);
      @include Rounded(0.25rem);
      background: $G20;
      border: 0;
    }
    .th {
      min-width: 6.25rem;
      max-width: 6.25rem;
      font-weight: bold;
      background: $G40;
    }
    .td {
      // min-width: 13.25rem;
      max-width: 13.25rem;
      &.name {
        font-size: 1.25rem;
        font-weight: bold;
        max-width: unset;
        p {
          max-width: unset;
        }
      }
      p {
        @include Ellipsis(1);
        text-align: left;
      }
    }
  }
}
